<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <title>{% block title%}{%endblock%}</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-center">
    <div class="container-fluid">
      <div class="navbar-header">
  
        <img src="/media/src/logo.jpg" alt="Todoapp" style="width:100px;height:50px; border-radius: 5px;" />
      </div>    
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{%url 'signup'%}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="{%url 'signin'%}"></span> Login</a></li>
      </ul>
    </div>
  </nav>
    {% block content%}
    {% endblock %}

  </div>
</div>


    <footer class="bg-body-tertiary text-center text-lg-start " style="margin-top: 90px; text-align: center; ">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05); height: 50px; align-items: center; justify-content: center; display: flex;">
      © 2020 Copyright:
      <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
    </footer>

</body>
</html>